.DS_Store
.vscode
node_modules
.sass-cache
*.DS_Store
*.env
*.idea
npm-debug.log
style.css
style.css.map
tsconfig.json
public/package-lock.json
server/config
server/logs
*bundle.js*
static/*.jpg
.psd
stats.json
